@font-face {
    font-family: 'SFM';
    src: url('/fonts/SFM-Light.eot');
    src: local('SFM Light'), local('SFM-Light'),
        url('/fonts/SFM-Light.eot?#iefix') format('embedded-opentype'),
        url('/fonts/SFM-Light.woff2') format('woff2'),
        url('/fonts/SFM-Light.woff') format('woff'),
        url('/fonts/SFM-Light.ttf') format('truetype'),
        url('/fonts/SFM-Light.svg#SFM-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'SFM';
    src: url('/fonts/SFM-Regular.eot');
    src: local('SFM Regular'), local('SFM-Regular'),
        url('/fonts/SFM-Regular.eot?#iefix') format('embedded-opentype'),
        url('/fonts/SFM-Regular.woff2') format('woff2'),
        url('/fonts/SFM-Regular.woff') format('woff'),
        url('/fonts/SFM-Regular.ttf') format('truetype'),
        url('/fonts/SFM-Regular.svg#SFM-Regular') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'SFM';
    src: url('/fonts/SFM-Medium.eot');
    src: local('SFM Medium'), local('SFM-Medium'),
        url('/fonts/SFM-Medium.eot?#iefix') format('embedded-opentype'),
        url('/fonts/SFM-Medium.woff2') format('woff2'),
        url('/fonts/SFM-Medium.woff') format('woff'),
        url('/fonts/SFM-Medium.ttf') format('truetype'),
        url('/fonts/SFM-Medium.svg#SFM-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'SFM';
    src: url('/fonts/SFM-Semibold.eot');
    src: local('SFM Semibold'), local('SFM-Semibold'),
        url('/fonts/SFM-Semibold.eot?#iefix') format('embedded-opentype'),
        url('/fonts/SFM-Semibold.woff2') format('woff2'),
        url('/fonts/SFM-Semibold.woff') format('woff'),
        url('/fonts/SFM-Semibold.ttf') format('truetype'),
        url('/fonts/SFM-Semibold.svg#SFM-Semibold') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'SFM';
    src: url('/fonts/SFM-Heavy.eot');
    src: local('SFM Heavy'), local('SFM-Heavy'),
        url('/fonts/SFM-Heavy.eot?#iefix') format('embedded-opentype'),
        url('/fonts/SFM-Heavy.woff2') format('woff2'),
        url('/fonts/SFM-Heavy.woff') format('woff'),
        url('/fonts/SFM-Heavy.ttf') format('truetype'),
        url('/fonts/SFM-Heavy.svg#SFM-Heavy') format('svg');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'SFM';
    src: url('/fonts/SFM-Bold.eot');
    src: local('SFM Bold'), local('SFM-Bold'),
        url('/fonts/SFM-Bold.eot?#iefix') format('embedded-opentype'),
        url('/fonts/SFM-Bold.woff2') format('woff2'),
        url('/fonts/SFM-Bold.woff') format('woff'),
        url('/fonts/SFM-Bold.ttf') format('truetype'),
        url('/fonts/SFM-Bold.svg#SFM-Bold') format('svg');
    font-weight: 900;
    font-style: normal;
}


@font-face {
    font-family: 'A';
    src: url('/fonts/A-Normal.eot');
    src: local('A Normal'), local('A-Normal'),
        url('/fonts/A-Normal.eot?#iefix') format('embedded-opentype'),
        url('/fonts/A-Normal.woff2') format('woff2'),
        url('/fonts/A-Normal.woff') format('woff'),
        url('/fonts/A-Normal.ttf') format('truetype'),
        url('/fonts/A-Normal.svg#A-Normal') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'A';
    src: url('/fonts/A-Regular.eot');
    src: local('A-Regular'),
        url('/fonts/A-Regular.eot?#iefix') format('embedded-opentype'),
        url('/fonts/A-Regular.woff2') format('woff2'),
        url('/fonts/A-Regular.woff') format('woff'),
        url('/fonts/A-Regular.ttf') format('truetype'),
        url('/fonts/A-Regular.svg#A-Regular') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'A';
    src: url('/fonts/A-Bold.eot');
    src: local('A-Bold'),
        url('/fonts/A-Bold.eot?#iefix') format('embedded-opentype'),
        url('/fonts/A-Bold.woff2') format('woff2'),
        url('/fonts/A-Bold.woff') format('woff'),
        url('/fonts/A-Bold.ttf') format('truetype'),
        url('/fonts/A-Bold.svg#A-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'A';
    src: url('/fonts/A-LightItalic.eot');
    src: local('A-LightItalic'),
        url('/fonts/A-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('/fonts/A-LightItalic.woff2') format('woff2'),
        url('/fonts/A-LightItalic.woff') format('woff'),
        url('/fonts/A-LightItalic.ttf') format('truetype'),
        url('/fonts/A-LightItalic.svg#A-LightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'A';
    src: url('/fonts/A-RegularItalic.eot');
    src: local('A-RegularItalic'),
        url('/fonts/A-RegularItalic.eot?#iefix') format('embedded-opentype'),
        url('/fonts/A-RegularItalic.woff2') format('woff2'),
        url('/fonts/A-RegularItalic.woff') format('woff'),
        url('/fonts/A-RegularItalic.ttf') format('truetype'),
        url('/fonts/A-RegularItalic.svg#A-RegularItalic') format('svg');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'A';
    src: url('/fonts/A-BoldItalic.eot');
    src: local('A-BoldItalic'),
        url('/fonts/A-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('/fonts/A-BoldItalic.woff2') format('woff2'),
        url('/fonts/A-BoldItalic.woff') format('woff'),
        url('/fonts/A-BoldItalic.ttf') format('truetype'),
        url('/fonts/A-BoldItalic.svg#A-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
}
