<article class="post">
	<h2>
        <a href="{{ .Permalink }}">{{ .Title }}</a>
    </h2>
    <ul class="list-inline post-info">
        <li class="list-inline-item">
            {{ .Date.Format "2006/02/01" }}
        </li>
        <li class="list-inline-item">
            {{ if eq .Section "post" }}
                {{ .ReadingTime }} min read
            {{ end }}
        </li>
    </ul>
    {{ truncate 192 .Content }}
	<a class="btn btn-warning" href="{{ .Permalink }}">Read Post</a>
</article>
